<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>sworm - Free CSS Template by spyka Webmaster</title>
<%= stylesheet_link_tag    "styles" %>
<!--
sworm, a free CSS web template by spyka Webmaster (www.spyka.net)

Download: http://www.spyka.net/web-templates/sworm/

License: Creative Commons Attribution
//-->
</head>
<body>
<div id="container">
    <%= render  "layouts/header" %>

    <div id="body">
	
	<div id="content">
              
	     <p><a href="/usuario/register">Fa&ccedil;a seu cadastro</a></p>          
		      
            <h3>Acesso</h3> 

<fieldset>
             <form action="/usuario/authenticate" method="post" id="payform">
		    
                    <p>
			<label for="email">email</label>
			<input name="email" id="email" value="" type="text" />
		    </p>
		    
		    <p>
			<label for="senha">senha</label>
			<input name="senha" id="senha" value="" type="password" />
		    </p>
                    
                    <p><input name="send" style="margin-left: 150px;" class="formbutton" value="OK" type="submit" /></p>
                </form>

</fieldset>
 

            <p>&nbsp;</p>
        </div>
        
        <div class="sidebar">
            <ul>	
            </ul> 
        </div>
    	<div class="clear"></div>
    </div>
    <%= render  "layouts/footer" %>

</div>
</body>
</html>

