<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>sworm - Free CSS Template by spyka Webmaster</title>
<%= stylesheet_link_tag    "styles" %>
<!--
sworm, a free CSS web template by spyka Webmaster (www.spyka.net)

Download: http://www.spyka.net/web-templates/sworm/

License: Creative Commons Attribution
//-->
</head>
<body>
<div id="container">
    <%= render  "layouts/header" %>	

    <div id="body">
	
	<div id="content">
        
	<fieldset>
	    <br><br>
           <h3>
            Muito obrigado , seu cadastro foi realizado com sucesso.           
        </h3>
        </fieldset>
 

            <p>&nbsp;</p>
        </div>
        
        <div class="sidebar">
            <ul>	
            </ul> 
        </div>
    	<div class="clear"></div>
    </div>
   <%= render  "layouts/footer" %>
</div>
</body>
</html>

